# Dependencies
node_modules/
.pnp
.pnp.js

# Production build artifacts
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary test/media dumps
video_frames_dump/
scratch/
.tempmediaStorage/
